# -----------------------------
# Apartado para Node/javascript
# -----------------------------

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directorio para libs instrumentadas (jscoverage/JSCover)
lib-cov

# Directorios de cobertura generados por herramientas como Istanbul
coverage
*.lcov

# Datos de cobertura de nyc
.nyc_output

# Almacenamiento intermedio de Grunt
.grunt

# Dependencias de Bower (si aplica)
bower_components

# Configuración de node-waf
.lock-wscript

# Addons binarios compilados
build/Release

# Directorios de dependencias
node_modules/
jspm_packages/

# Dependencias de Snowpack
web_modules/

# Caché de TypeScript
*.tsbuildinfo

# Caché opcional de npm
.npm

# Cachés opcionales de herramientas de linteo
.eslintcache
.stylelintcache

# Cachés de Microbundle
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Historial de REPL de Node.js
.node_repl_history

# Salida de 'npm pack'
*.tgz

# Archivo de integridad de Yarn
.yarn-integrity

# Archivos de variables de entorno (.env)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Caché del parcel-bundler
.cache
.parcel-cache

# Salidas de compilación o generación de Next.js, Nuxt.js, Gatsby, etc.
.next
out

.nuxt
dist

.cache/


.vuepress/dist
.temp
.cache

**/.vitepress/dist
**/.vitepress/cache

.docusaurus

# Directorio para Serverless
.serverless/

# Caché de FuseBox
.fusebox/

# Archivos de DynamoDB Local
.dynamodb/

# Archivo de puerto de TernJS
.tern-port

# Directorio para versiones de VSCode en pruebas
.vscode-test

# Configuración de Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# -----------------------------
# Regiones específicas de PHP
# -----------------------------

# Dependencias instaladas por Composer (Excluye también dependencias para GoogleAuth)
/vendor/
composer.lock

# -----------------------------
# Archivos de configuración de IDEs y editores
# -----------------------------

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# -----------------------------
# Archivos y directorios del sistema
# -----------------------------

.DS_Store
Thumbs.db
#Archivos Sensibles
Parametros.php
