/* --- Footer --- */
footer {
  position: relative;
  background-color: #020533;
  padding: 15px 0;
}

.lfooter {
  padding: 0 15px;
  font-size: 30px;
}

.Social-Net {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  font-size: 35px;
  color: #ffffff;
  margin: 25px 40px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0px 0px 30px #ffffff;
  transition: 0.3s ease;
}

/* Iconos redes sociales reflectantes */
.Social-Net {
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

.social {
  text-align: left;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin: 25px 40px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0px 0px 30px rgb(255, 255, 255);
  transition: 0.3s ease;
}
.fa-twitter:hover {
  background-color: #1da1f2;
  color: white;
  box-shadow: 0 0 15px #1da1f2, 0 0 45px #1da1f2, 0 0 75px #1da1f2,
    0 0 115px #1da1f2;
}
.fa-instagram:hover {
  background-color: #ff00bf;
  color: white;
  box-shadow: 0 0 15px #ff009d, 0 0 45px #ff3e00, 0 0 75px #ff3e00,
    0 0 115px #ff00f2;
}
.fa-tiktok:hover {
  background-color: #000000;
  color: white;
  box-shadow: 0 0 15px hsl(340, 100%, 50%), 0 0 45px hsl(340, 100%, 50%),
    0 0 75px hsl(340, 100%, 50%), 0 0 115px hsl(340, 100%, 50%);
}
.fa-envelope:hover {
  background-color: #ff0000b7;
  color: white;
  box-shadow: 0 0 15px hsl(0, 87%, 48%), 0 0 45px hsl(0, 65%, 45%),
    0 0 75px hsl(0, 65%, 45%), 0 0 115px hsl(0, 65%, 45%);
}
