/* Header fijo en la parte superior */
.containerHeader {
  position: relative; /* Fija el header en la pantalla */
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #020533;
  padding: 20px 0 25px 20px;
  font-family: "Goblin One", sans-serif;
  z-index: 2; /* Asegura que se superponga a otros elementos */
  justify-content: space-between;
  align-items: center;
}
.header-left {
  flex: 0 0 auto;
  margin-left: 20px; /* Opcional, para darle algo de espacio */
}
.AboutUs {
  color: #ffffff;
  background-color: #020533;
  border: none;
  font-size: 35px;
  margin-top: 8px;
  /* margin.: 12px; */
}
.AboutUs:hover {
  color: #95a4c0;
}
.bi-info-circle {
  font-size: 35px;
  color: #ffffff;
  background-color: #020533;
  margin-left: 17px;
  margin-right: 8px;
}

.AboutUs {
  color: #ffffff;
  background-color: #020533;
  border: none;
  font-size: 35px;
  margin-top: 8px;
  /* margin.: 12px; */
}
.WEBName {
  font-weight: 800;
  font-size: 35px;
  color: #ffffff;
  background-color: #020533;
  border: none;
  margin: 8px;
  padding: 0px;
  height: 42px;
}
.header-right {
  flex: 0 0 auto;
  margin-right: 20px;
}
.header-center {
  position: absolute; /* Lo posicionamos absolutamente en relación al contenedorHeader */
  left: 50%;
  transform: translateX(-50%);
}
.customer-support-btn {
  font-weight: 300;
  position: fixed;
  top: 28px;
  right: 20px;
  background-color: #ffffff;
  color: #020533;
  border: none;
  border-radius: 50px;
  padding: 10px 13px;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.customer-support-btn:hover {
  background-color: #fdfdfd; /* Color de fondo al pasar el cursor */
  transform: scale(1.05); /* Efecto de agrandamiento */
}

.buttons {
  position: absolute;
  right: 20px;
  top: 10px;
}

.profile {
  color: #ffffff;
  font-size: 50px;
  padding: 15px;
  border-radius: 50%;
  background-color: #091294;
  transition: transform 0.3s, background-color 0.3s;
}

.profile:hover {
  background-color: #1b2c641c;
  color: #ebcd48;
  transform: scale(1.1);
}
.google-login-btn {
  position: relative;
  font-size: 25px;
  font-family: "Goblin One", sans-serif;
  border-radius: 5px; /* Bordes redondeados para un mejor diseño */
  background-color: #ffffff;
  text-decoration: none;
  color: #4285f4; /* Color característico de Google */
  padding: 10px 11px 10px 11px;
  transition: transform 0.3s, background-color 0.3s;
  bottom: 7px;
}
.google-login-btn:hover {
  background-color: #c5c5c5; /* Cambia el color de fondo en hover */
  color: #3769bb; /* Cambia el color del texto */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}
.PostSt {
  background-color: #ffffff;
  color: #091294;
  font-size: 25px;
  font-family: "Goblin One", sans-serif;
  border-radius: 5px;
  padding: 9px 10px;
  margin: 10px 20px 30px;
  transition: transform 0.3s, background-color 0.3s;
}

.PostSt:hover {
  background-color: #1b2c641c;
  color: #ebcd48;
  transform: scale(1.02);
}
