/* Dispositivos pequeños (menos de 576px) */
@media (max-width: 575.98px) {
  .containerHeader {
    background-color: #020533;
    padding: 6px 0px 10px 2px;
    font-family: "Goblin One", sans-serif;
  }
  .container {
    background-color: #ffffff;
    color: #1b1b1b;
    max-width: 320px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  h2 {
    font-weight: 800;
    font-size: 14px;
    position: absolute;
    left: 53%;
    transform: translateX(-50%);
    margin: 15px;
  }
  .WEBName {
    font-weight: 800;
    font-size: 11px;
    color: #ffffff;
    background-color: #020533;
    border: none;
    margin: 9px;
    padding: 0px;
    height: 42px;
  }
  .customer-support-btn {
    top: 18px;
    right: 5px;
    border-radius: 50px;
    padding: 7px 4px;
    font-size: 11px;
  }
  .about-us {
    margin: 28px 10px 60px 10px;
    padding: 15px;
  }
  /* Footer */
  .Social-Net {
    flex-direction: row;
    gap: 5px;
  }
  .social {
    font-size: 20px;
    margin: 5px 10px;
  }
}
@media (min-width: 758px) and (max-width: 1040px) {
  .containerHeader {
    background-color: #020533;
    padding: 22px 3px 23px 7px;
    font-family: "Goblin One", sans-serif;
  }

  .WEBName {
    font-size: 21px;
    margin-top: 9px;
    padding: 0px;
    height: 49px;
    margin-left: 11px;
  }
  .container {
    background-color: #ffffff;
    color: #1b1b1b;
    max-width: 650px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  h2 {
    font-weight: 800;
    font-size: 30px;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    margin: 15px;
  }

  .customer-support-btn {
    top: 32px;
    right: 12px;
    border-radius: 50px;
    padding: 10px 9px;
    font-size: 19px;
  }
  .about-us {
    margin: 25px 44px 25px 44px;
    padding: 15px;
  }
  /* Footer */
  .Social-Net {
    flex-direction: row;
    gap: 5px;
  }
  .social {
    font-size: 39px;
    margin: 7px 12px;
  }
}
@media (min-width: 576px) and (max-width: 757px) {
  .container {
    background-color: #ffffff;
    color: #1b1b1b;
    max-width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  .containerHeader {
    background-color: #020533;
    padding: 22px 3px 23px 7px;
    font-family: "Goblin One", sans-serif;
  }

  .WEBName {
    font-size: 17px;
    margin-top: 7px;
    padding: 0px;
    height: 49px;
    margin-left: 4px;
  }
  h2 {
    font-weight: 800;
    font-size: 27px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px;
  }

  .customer-support-btn {
    top: 32px;
    right: 5px;
    border-radius: 50px;
    padding: 10px 9px;
    font-size: 15px;
  }
  .about-us {
    margin: 25px 44px 25px 44px;
    padding: 15px;
  }
  /* Footer */
  .Social-Net {
    flex-direction: row;
    gap: 5px;
  }
  .social {
    font-size: 25px;
    margin: 7px 12px;
  }
  footer {
    position: relative;
    background-color: #020533;
    padding: 18px 0;
  }
}
